body{
   margin: 0;


}


.header{
    margin: auto;
    max-width: 600px;
    background-color: lightyellow;
    padding: 10px;


}



.main{
    margin: auto;
    max-width: 600px;
    background-color: lightpink;
    padding: 10px;
}



.footer{
    margin: auto;
    max-width: 600px;
    background-color: lavender;
    padding: 10px;
}


